.body {
    background-color: rgb(168, 198, 208);
    margin: 30px;
}

html {
    scroll-behavior: smooth;
}

header {
    padding: 20px;
    background-color: #333;
}

.header {
    display: flex;
    justify-content: flex-end;
}

h1 {

    margin-right: auto;
    color: beige;
}

nav {
    background-color: #333;
}

nav ul {
    align-content: flex-end;
    display: flex;
}

nav a {
    justify-content: right;
    color: white;
    display: block;
    padding: 10px;
}

nav a:hover {
    background-color: #555;
}

@media (min-width: 768px) {
    .header {
        display: flex;
    }
}

.beach {
    background-image: image();
}

.image-beach {
    /* background-image: url(.//Assets/Images/14 gettyimages-1124319536_resized.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
}

/* #beach {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
} */

#myApps {
    display: flex;
    /* flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px; */
}

.myAppleft {
    flex: 0 0 200px;
    box-sizing: border-box;
    font-size: xx-large;
    border: #333;
    /* min-width: 200px;
    min-height: 300PX; */
}

/* 
.myAppleft {
  font-style: italic;
} */

.myAppRight {
    /* flex-wrap: wrap; */
    flex: 1;
    justify-content: space-between;
    padding: 20px;
    /* display: flex; */
    /* flex: 2; */
    width: 48%;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #333;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;

}

.myAppRight:hover {
    border: 10Px;
    border-color: #e74c3c;
    background-color: #555;

}

#aboutMe {
    display: flex;
}

.aboutMeLeft {
    font-size: xx-large;
    border: #333;
    min-width: 200px;
    min-height: 300PX;
}

@media (max-width: 768px) {
    .flex-item {
        width: 100%;

    }
}

.FootBox {
    display: flexbox;
}